<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" routerLink="/user/home">{{ mensagemLogo }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active link" aria-current="page" routerLink="/user/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" routerLink="/user/listarProdutos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" routerLink="/user/informatica">Informática</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" routerLink="/user/eletrodomestico">Eletrodoméstico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" routerLink="/user/moda">Moda</a>
                </li>
            </ul>
            <div class="flexSessaoTwoCabecalho">
                <div class="search-container">
                    <input 
                    [(ngModel)]="campoBusca" 
                    name="campoBusca" 
                    class="form-control me-2 search-input" 
                    type="search"
                    placeholder="Ex: Celular" 
                    aria-label="Search"
                    (keydown.Enter)="metodoCampoBusca()"
                >
                    <button class="btn btn-outline-warning" id="search-btn" (click)="toggleSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                    </button>
                   
                </div>
                <div class="btn-group">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <img class="imagemPerfil" [src]="infoUsuario?.pessoa?.imagemPessoa?.imagem" alt="">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" routerLink="/user/perfil">Meu perfil</a></li>
                        <li><a class="dropdown-item" routerLink="/user/listarProdutos">Produtos Diversos</a></li>
                        <li class="dropdown-item" (click)="metodoSairPerfil()">Sair</li>
                    </ul>
                </div>
                
                <div class="flexCarrinho">
                    <a routerLink="/user/carrinho-detalhes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
