<div class="carrinho" [ngClass]="{'carrinho-aberto': isCarrinhoAberto}">
  <div class="carrinho-conteudo">
    <div class="flexh2Carrinho">
      <h2>Carrinho de Compras</h2>
      <button class="fechar-carrinho" (click)="toggleCarrinho()">×</button>
    </div>
      <div *ngFor="let item of itensCarrinho" class="item-carrinho">
        <h3>Produto Adicionado <br> <span class="coresChamativas">com Sucesso!!</span></h3>
        <img [src]="item.thumbnail" class="imagem-produto">
        <div class="detalhes-produto">
          <h4>{{ item.title }}</h4>
          <div class="flexBotoesDetalhesProdutoCarrinho">
            <button class="btn btn-success" routerLink="/user/carrinho-detalhes" (click)="metodoFecharCarrinho()" >Conferir o Carrinho</button>
            <button class="btn btn-secondary" (click)="removerItem(item.id)" >Limpar Carrinho</button>
          </div>
        </div>
      </div>
  </div>
  <button class="abrir-carrinho" (click)="toggleCarrinho()">
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-cart3"
      viewBox="0 0 16 16">
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
    </svg>
  </button>
</div>