<section class="sessaoVideo ">
    <h1 class="tituloSessaoVideo" [ngClass]="{
      'animate__animated animate__swing  animate__repeat-2': controladorTexto,
      'animate__animated animate__fadeInDown': !controladorTexto
    }">{{mensagemPadrao}}<br>
        <span class="textoChamativos">
            {{ nomeUsuario}}
        </span>
        <br>

    </h1>
    <button type="button" routerLink="/user/listarProdutos" class="btn btn-outline-light">Descobrir</button>
    <video class="video"   autoplay loop>
        <source src="../../../assets/img/7567372-hd_1920_1080_25fps.mp4" type="video/mp4">
    </video>
</section>
<section class="sessaoBoxOneHome">
    <article class="sessaoOnda"></article>
    <article class="sessaoSubOnda"></article>
    <article class="formlarioBody">
        <article class="subBoxOneHome">
            <div class="flexSubBoxOneHome ">
                <h1 data-aos="zoom-in-right">Celular</h1>
                <h5 data-aos="zoom-in-right">Explore a Inovação em
                    Cada Toque: Celulares que Definem o Futuro da Conectividade</h5>
                <a type="button" class="btn btn-warning" routerLink="/user/listarProdutos">Confira</a>
            </div>
            <div class="flexImagemSessaoOneHome">
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_675776-MLU77108757146_062024-F.webp" alt="">
            </div>
        </article>
    </article>

</section>

<section>
    <article class="sessaoOnda2">
        <article class="formlarioBody">
            <article class="boxSessaoSobreHome">
                <div class="flexSessaoSobreHome">
                    <h1 data-aos="zoom-in-right" >Móveis</h1>
                    <h5  data-aos="zoom-in-right">Transforme Seu Espaço com Móveis que Unem Estilo e Conforto</h5>
                    <a routerLink="/user/eletrodomestico" type="button" class="btn btn-warning">Confira</a>
                </div>
                <div class="flexImagemSessaoSobreHome">
                    <img src="../../../assets/img/D_NQ_NP_2X_621315-MLU74102521666.png" alt="">
                </div>
            </article>
        </article>
    </article>

    <article class="sessaoSubOnda2"></article>
    <article class="formlarioBody">
        <article class="subBoxOneHome">
            <div class="flexSubBoxOneHome">
                <h1 data-aos="zoom-in-right">Moda</h1>
                <h5 data-aos="zoom-in-right">Descubra o Estilo que
                    Reflete Sua Personalidade: Moda que Inspira e Transforma</h5>
                <a routerLink="/user/moda" type="button" class="btn btn-warning">Confira</a>
            </div>
            <div class="flexImagemSessaoOneHome">
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_837291-MLB79161486699_092024-F.webp" alt="">
            </div>
        </article>
    </article>

</section>