<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Nós</h3>
            <p>Somos uma loja online dedicada a oferecer os melhores produtos com qualidade excepcional e atendimento ao cliente impecável.</p>
        </div>
        <div class="footer-section">
            <h3>Links Úteis</h3>
            <ul>
                <li><a routerLink="/user/home">Home</a></li>
                <li><a href="/user/listarProdutos">Produtos</a></li>
                <li><a href="/user/moda">Moda</a></li>
                <li><a href="/user/informatica">Informatica</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contato</h3>
            <p>Email: {{ mensagemEmail }}</p>
            <p>Telefone: (00) 0000-0000</p>
            <p>Endereço: Rua Exemplo, 123, Cidade, Estado, País</p>
        </div>
        <div class="footer-section">
            <h3>Siga-nos</h3>
            <div class="social-links">
                <a href="#"><img src="../../../assets/img/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/medrado.dev/" target="_blank"><img src="../../../assets/img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Sua Loja Online. Todos os direitos reservados.</p>
    </div>
</footer>
